node_modules/
build/
.elasticbeanstalk/
.gitignore
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.sh

.ebextensions/
certs/

*.pem*
*.crt*


setenv.sh